<link
  href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css"
  rel="stylesheet"
/>

<script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>

<style>
  #calendar {
    margin-top: 50px;
  }
  table {
    display: table !important;
  }
  .fc-day-grid-container {
    overflow: visible !important;
  }
</style>

<script>
  const english = [
    {% for item in site.data.goal-calendar.english.items %}
      {
        title: "{{site.data.goal-calendar.english.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.english.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.english.borderColor}}",
        textColor: "{{site.data.goal-calendar.english.textColor}}"
      },
    {% endfor %}
  ];

  const exercise = [
    {% for item in site.data.goal-calendar.exercise.items %}
      {
        title: "{{site.data.goal-calendar.exercise.title}}",
        start: "{{item.start}}",
        backgroundColor: "{{site.data.goal-calendar.exercise.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.exercise.borderColor}}",
        textColor: "{{site.data.goal-calendar.exercise.textColor}}"
      },
    {% endfor %}
  ];

  const weeklyRetrospective = [
    {% for item in site.data.goal-calendar.weeklyRetrospective.items %}
      {
        title: "{{site.data.goal-calendar.weeklyRetrospective.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.weeklyRetrospective.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.weeklyRetrospective.borderColor}}",
        textColor: "{{site.data.goal-calendar.weeklyRetrospective.textColor}}"
      },
    {% endfor %}
  ];

  const monthlyRetrospective = [
    {% for item in site.data.goal-calendar.monthlyRetrospective.items %}
      {
        title: "{{site.data.goal-calendar.monthlyRetrospective.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.monthlyRetrospective.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.monthlyRetrospective.borderColor}}",
        textColor: "{{site.data.goal-calendar.monthlyRetrospective.textColor}}"
      },
    {% endfor %}
  ];

  const yearRetrospective = [
    {% for item in site.data.goal-calendar.yearRetrospective.items %}
      {
        title: "{{item.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.yearRetrospective.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.yearRetrospective.borderColor}}",
        textColor: "{{site.data.goal-calendar.yearRetrospective.textColor}}"
      },
    {% endfor %}
  ];

  const post = [
    {% for item in site.data.goal-calendar.post.items %}
      {
        title: "{{site.data.goal-calendar.post.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.post.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.post.borderColor}}",
        textColor: "{{site.data.goal-calendar.post.textColor}}"
      },
    {% endfor %}
  ];

  const bookReview = [
    {% for item in site.data.goal-calendar.bookReview.items %}
      {
        title: "{{site.data.goal-calendar.bookReview.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.bookReview.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.bookReview.borderColor}}",
        textColor: "{{site.data.goal-calendar.bookReview.textColor}}"
      },
    {% endfor %}
  ];

  const study = [
    {% for item in site.data.goal-calendar.study.items %}
      {
        title: "{{item.title}}",
        start: "{{item.start}}",
        url: "{{item.url}}",
        backgroundColor: "{{site.data.goal-calendar.study.backgroundColor}}",
        borderColor: "{{site.data.goal-calendar.study.borderColor}}",
        textColor: "{{site.data.goal-calendar.study.textColor}}"
      },
    {% endfor %}
  ];

  const data = english
    .concat(exercise)
    .concat(weeklyRetrospective)
    .concat(monthlyRetrospective)
    .concat(yearRetrospective)
    .concat(post)
    .concat(bookReview)
    .concat(study);

  document.addEventListener("DOMContentLoaded", function() {
    const calendarEl = document.getElementById("calendar");

    const calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ["dayGrid"],
      defaultView: "dayGridMonth",
      events: data
    });

    calendar.render();
  });
</script>
